@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@ng-select/ng-select/themes/default.theme.css';

@font-face {
  font-family: 'CircularStd-Book';
  src: url('/assets/fonts/CircularStd-Book.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'CircularStd-Regular';
  src: url('/assets/fonts/CircularStd-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'CircularStd-Medium';
  src: url('/assets/fonts/CircularStd-Medium.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'CircularStd-Book', 'CircularStd-Regular', sans-serif;
  margin: 0;
  min-height: 100vh;
}
