<app-timeline-board
  [logoSrc]="logoSrc"
  [selectedZoomLabel]="selectedZoomLabel()"
  [zoomOptions]="zoomOptions"
  [zoomLevel]="zoomLevel()"
  [timescaleMenuOpen]="timescaleMenuOpen()"
  [workCenters]="workCenters()"
  [timelineVm]="timelineVm()"
  [hoveredWorkCenterId]="hoveredWorkCenterId()"
  [menuOpenFor]="menuOpenFor()"
  [showCurrentMonthBadge]="showCurrentMonthBadge()"
  [currentMonthBadgeLeft]="getCurrentMonthBadgeLeft()"
  [todayVisible]="isTodayVisible()"
  [todayIndicatorLeft]="getTodayIndicatorLeft()"
  [timelineStartMs]="timelineStartMs()"
  [timelineDayWidth]="timelineDayWidth()"
  [statusOptions]="statusOptions"
  [ordersByCenter]="ordersByCenterRecord()"
  (toggleTimescaleMenu)="toggleTimescaleMenu($event)"
  (selectZoom)="onTimelineSelectZoom($event)"
  (rowHover)="setRowHover($event)"
  (gridClick)="onTimelineGridClick($event)"
  (toggleMenu)="onTimelineToggleMenu($event)"
  (startEdit)="onTimelineStartEdit($event)"
  (deleteOrder)="onTimelineDeleteOrder($event)"
/>

<app-work-order-form-panel
  [panelOpen]="panelOpen()"
  [panelTitle]="panelTitle()"
  [panelPrimaryAction]="panelPrimaryAction()"
  [orderForm]="orderForm"
  [workCenters]="workCenters()"
  [statusOptions]="statusOptions"
  [formError]="formError()"
  [submitted]="submitted()"
  (closePanel)="closePanel()"
  (saveOrder)="saveOrder()"
/>
